// Skills.scss

.wrapper {
    overflow: hidden;
  
    .skills {
      padding-top: 5rem;
      padding-bottom: 5rem;
  
      .container {
        overflow-x: clip;
        position: relative;
        max-width: 1280px;
        margin: auto;
  
        .skill_heading {
          text-align: center;
          font-size: 2rem;
          margin-bottom: 3rem;
          color: #fff;
        }
  
        .slider-container {
          width: 80%;
          margin: auto;
  
          .slick-list {
            overflow: visible;
          }
  
          .slick-track {
            display: flex;
            justify-content: space-between;
            gap: 20px; // Adjust the gap as needed
          }
  
          .skill_category {
            width: 300px; // Adjust the width as needed
            background: rgba(255, 255, 255, 0.1);
            padding: 40px 42px;
            border-radius: 10px;
            box-sizing: border-box;
  
            h3 {
              font-size: 1.5rem;
              color: #ff2278;
              margin-bottom: 1rem;
            }
  
            ul {
              list-style-type: none;
              padding: 0;
  
              li {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                color: white;
              }
            }
          }
        }
  
      }
    }
  }
  