.wrapper {
  overflow: hidden;
}

.wrapper .navbar {
  padding-bottom: 2rem;
}

.wrapper .navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  color: white;
}

.wrapper .navbar .container .menu a {
  margin: 0 2rem;
  color: white;
  text-decoration: none;
}

.wrapper .navbar .container .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  /* visibility: hidden; */
  /* opacity: 0; */
  display: none;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  .wrapper .navbar .container .nav-btn {
    display: block;
  }

  

  .wrapper .navbar .container .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgb(32, 32, 32);
    transition: transform 0.5s ease;
    transform: translateY(-100%);
  }

  .wrapper .navbar .container .responsive_nav {
    transform: none;
  }

  .wrapper .navbar .container .menu .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .wrapper .navbar .container .menu a {
    font-size: 1.5rem;
  }
}
